<ion-content>
  <div class="heading">
    <h1>Login Now!</h1>
    <p>Please login to continue using this application</p>
  </div>

  <div class="social-login">
    <p>Login via Social Network</p>
    <div class="links">
      <ion-button class="twitter">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-button>

      <ion-button class="facebook">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>

      <ion-button class="github">
        <ion-icon name="logo-github"></ion-icon>
      </ion-button>
    </div>
  </div>

  <div class="email-login">
    <p>Or you can Sign-up with your email !</p>
    <div class="formfield">
      <input
        type="text"
        name="email"
        placeholder="Enter your email here!!"
        id="email"
      />
    </div>
    <div class="formfield">
      <input
        type="password"
        name="password"
        placeholder="Enter your password here!"
        id="password"
      />
    </div>
  </div>

  <div class="other-links">

    <div class="remember-me">
      <ion-checkbox></ion-checkbox>
      <p>Remember me!</p>
    </div>

    <div class="forget-password">
      <p>Forgot password?</p>
    </div>
  </div>

  <div class="login-button">
    <ion-button class="login" routerLink="/thank-you">Login</ion-button>
    <p>Don't have an account? <span routerLink="/signup"> Signup </span></p>
    </div>

</ion-content>
